doctype

html(lang="en")
	head
		title Jade with polymer
		meta( charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='author', content='Gentry Rolofson')
		link(href='assets/css/main.css', rel='stylesheet' type='text/css')
	body
		div(class="wrapper")
			header
				nav
					ul
						li
							a(href="#") link
							a(href="#") link
							a(href="#") link
							a(href="#") link
							a(href="#") link
							a(href="#") link
		section(class="maincontent")
			section(class="left")
			section(class="mid")
			section(class="right")
		footer


