/* line 1, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/reset.sass */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }
  /* line 7, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/reset.sass */
  * p {
    font-family: 'Raleway', sans-serif;
    line-height: 2rem; }
  /* line 11, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/reset.sass */
  * h1 {
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1rem; }

/* line 3, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.flex, header, .titletag, #slidemenu ul, nav ul, aside ul {
  display: flex; }

/* line 5, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
body {
  background-color: #FAFAFA; }

/* line 9, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
header {
  align-content: center;
  position: fixed;
  height: 4rem;
  background-color: #009688;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%; }

/* line 18, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.logo {
  margin: auto;
  margin-left: 0;
  height: 4.01rem;
  width: 15rem;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #B2DFDB; }
  /* line 27, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .logo img {
    margin-top: 5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 2px solid #B2DFDB;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 99;
    position: relative; }

/* line 37, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.titletag {
  height: 2rem;
  width: 10rem;
  position: relative;
  margin: auto;
  display: none;
  line-height: 4rem; }
  /* line 46, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .titletag img {
    margin-right: 1rem;
    height: 1.6rem; }
  /* line 50, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .titletag p {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase; }

/* line 54, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
#menu {
  width: 9rem;
  display: none; }
  /* line 58, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #menu .slidebutton {
    top: 1.3rem;
    left: 1.5rem;
    position: fixed;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 99;
    border: none;
    background: url('../images/baricons-1.png'); }
  /* line 68, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #menu .slidebutton:active {
    outline: none;
    border: none; }
  /* line 72, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #menu .slidebutton:focus {
    outline: none; }

/* line 74, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
#slidemenu {
  position: fixed;
  height: 0px;
  width: 100%;
  background: #FAFAFA;
  top: 4rem;
  overflow: hidden;
  z-index: 10000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transition: height 0.3s linear 0s;
  display: none; }
  /* line 85, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #slidemenu ul {
    flex-direction: column;
    padding-top: 0rem; }
    /* line 90, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    #slidemenu ul li {
      width: 100%;
      height: 5rem;
      text-align: center;
      line-height: 5rem;
      color: #212121;
      text-transform: uppercase;
      font-weight: 700;
      font-family: arial;
      font-size: 0.7rem;
      text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3); }
    /* line 102, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    #slidemenu ul li:hover {
      background-color: #00695C; }
    /* line 104, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    #slidemenu ul li:focus {
      background-color: #00695C; }
    /* line 106, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    #slidemenu ul a {
      display: block;
      text-decoration: none;
      color: #212; }

/* line 111, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
nav {
  justify-content: center;
  margin-left: 15rem;
  margin-right: 4rem; }
  /* line 115, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  nav ul {
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    list-style: none; }
    /* line 123, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    nav ul li {
      line-height: 4rem;
      text-align: center;
      width: 10rem;
      height: 3rem;
      list-style-type: none; }
    /* line 130, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    nav ul a {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff; }

/* line 134, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.title {
  color: #000;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0.8rem;
  left: 0.5rem;
  z-index: 1; }
  /* line 141, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .title h1 {
    font-size: 1.6rem; }

/* line 143, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
aside {
  width: 15rem;
  height: 58rem;
  border-right: 1px solid #B2DFDB;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0; }
  /* line 152, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  aside ul {
    flex-direction: column;
    padding-top: 11.1rem; }
    /* line 157, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    aside ul li {
      width: 15rem;
      height: 5rem;
      text-align: center;
      line-height: 5rem;
      color: #212121;
      text-transform: uppercase;
      font-weight: 700;
      font-family: arial;
      font-size: 0.7rem;
      text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3); }
    /* line 169, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    aside ul li:hover {
      background-color: #B2DFDB; }
    /* line 171, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    aside ul a {
      display: block;
      text-decoration: none;
      color: #212; }

/* line 176, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.lastchild {
  margin-bottom: 9rem; }

/* line 179, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.sidefooter {
  width: 100%;
  text-align: center;
  border-top: 1px solid #B2DFDB;
  padding-top: 2rem; }
  /* line 184, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .sidefooter a {
    text-decoration: none; }

/* line 187, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
footer {
  height: 4rem;
  margin-top: 5rem;
  background-color: #263238; }

/* line 193, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.maincontent {
  height: auto;
  display: flex;
  flex-direction: column; }
  /* line 198, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .maincontent article {
    padding-top: 9rem;
    margin: 0 8rem 0 18rem; }

@media (max-width: 1200px) {
  /* line 203, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .maincontent article {
    margin: 0 3rem 0 3rem; }

  /* line 205, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #menu {
    display: block; }

  /* line 207, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  aside {
    display: none; }

  /* line 209, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .title {
    display: none; }

  /* line 211, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  nav {
    display: none; }

  /* line 213, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .titletag {
    display: flex; }

  /* line 215, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #slidemenu {
    display: block; }
 }

@media (max-width: 700px) {
  /* line 219, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .maincontent article {
    margin: 0 1.8rem 0 1.8rem; }
 }
