/* line 1, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/reset.sass */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }
  /* line 7, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/reset.sass */
  * p {
    font-family: 'Raleway', sans-serif;
    line-height: 2rem; }
  /* line 11, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/reset.sass */
  * h1 {
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1rem; }

/* line 4, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.flex, header, .maintitle, .titletag, #slidemenu ul, aside ul {
  display: flex; }

/* line 6, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
body {
  background-color: #FAFAFA; }

/* line 10, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
header {
  align-content: center;
  position: fixed;
  height: 4rem;
  background-color: #009688;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%; }

/* line 18, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
aside {
  width: 15rem;
  height: 58rem;
  border-right: 1px solid #B2DFDB;
  background-color: #fff;
  position: fixed;
  top: 4rem;
  left: -15rem;
  text-align: center;
  transition: left 0.3s linear 0s; }
  /* line 28, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  aside img {
    margin-top: 2rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 2px solid #B2DFDB;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 99; }

/* line 36, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
#desktop-menu:hover ~ aside {
  left: 0; }

/* line 40, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
aside:hover {
  left: 0; }

/* line 43, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.maintitle {
  height: 2rem;
  width: 10rem;
  position: relative;
  margin: auto;
  line-height: 4rem; }
  /* line 50, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .maintitle p {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase; }

/* line 55, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.titletag {
  height: 2rem;
  width: 10rem;
  position: relative;
  margin: auto;
  display: none;
  line-height: 4rem; }
  /* line 64, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .titletag img {
    margin-right: 1rem;
    height: 1.6rem; }
  /* line 68, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .titletag p {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase; }

/* line 72, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
#desktop-menu {
  height: 4rem;
  width: 9rem;
  display: block; }
  /* line 77, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #desktop-menu .desktop-button {
    top: 1.3rem;
    left: 1.5rem;
    position: fixed;
    width: 2rem;
    height: 4rem;
    overflow: hidden;
    background: none;
    background-repeat: no-repeat;
    z-index: 99;
    border: none;
    background-image: url('../images/baricons-1.png'); }
  /* line 90, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #desktop-menu .desktop-button:active {
    outline: none;
    border: none; }
  /* line 93, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #desktop-menu .desktop-button:focus {
    outline: none; }

/* line 96, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
#menu {
  width: 9rem;
  display: none; }
  /* line 100, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #menu .slidebutton {
    top: 1.3rem;
    left: 1.5rem;
    position: fixed;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 99;
    border: none;
    background: url('../images/baricons-1.png'); }
  /* line 110, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #menu .slidebutton:active {
    outline: none;
    border: none; }
  /* line 114, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #menu .slidebutton:focus {
    outline: none; }

/* line 116, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
#slidemenu {
  position: fixed;
  height: 0px;
  width: 100%;
  background: #FAFAFA;
  top: 4rem;
  overflow: hidden;
  z-index: 10000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transition: height 0.3s linear 0s; }
  /* line 127, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #slidemenu ul {
    flex-direction: column;
    padding-top: 0rem; }
    /* line 132, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    #slidemenu ul li {
      width: 100%;
      height: 5rem;
      text-align: center;
      line-height: 5rem;
      color: #212121;
      text-transform: uppercase;
      font-weight: 700;
      font-family: arial;
      font-size: 0.7rem;
      text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3); }
    /* line 144, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    #slidemenu ul li:hover {
      background-color: #00695C; }
    /* line 146, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    #slidemenu ul li:focus {
      background-color: #00695C; }
    /* line 148, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
    #slidemenu ul a {
      display: block;
      text-decoration: none;
      color: #212; }

/* line 152, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
#menu:hover ~ #slidemenu {
  height: 400px; }

/* line 155, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
#slidemenu:hover {
  height: 400px; }

/* line 158, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.title {
  color: #000;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0.8rem;
  left: 0.5rem;
  z-index: 1; }
  /* line 165, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .title h1 {
    font-size: 1.6rem; }

/* line 168, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
aside ul {
  flex-direction: column;
  padding-top: 2rem; }
  /* line 173, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  aside ul li {
    text-align: center;
    line-height: 5rem;
    color: #212121;
    text-transform: uppercase;
    font-weight: 700;
    font-family: arial;
    font-size: 0.7rem;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3); }
  /* line 184, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  aside ul li:hover {
    background-color: #B2DFDB; }
  /* line 186, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  aside ul a {
    display: block;
    text-decoration: none;
    color: #212; }

/* line 192, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
aside ul button {
  outline: none;
  border: none;
  background: #fff; }

/* line 198, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.placeholder {
  height: 4rem; }

/* line 201, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.sidefooter {
  height: 100%;
  width: 100%;
  text-align: center;
  border-top: 1px solid #B2DFDB;
  padding-top: 2rem; }
  /* line 207, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .sidefooter a {
    text-decoration: none; }

/* line 210, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
footer {
  height: 4rem;
  margin-top: 5rem;
  background-color: #263238; }

/* line 216, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
.maincontent {
  height: auto;
  display: flex;
  flex-direction: column; }
  /* line 221, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .maincontent article {
    padding-top: 9rem;
    margin: 0 8rem 0 4rem;
    transition: margin-left 0.3s linear 0s, margin-top 0.3s linear 0s; }

/* line 227, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
#desktop-menu:hover ~ .maincontent article {
  margin: 0 8rem 0 18rem; }

/* line 230, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
aside:hover ~ .maincontent article {
  margin: 0 8rem 0 18rem; }

@media (max-width: 1200px) {
  /* line 234, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .maincontent article {
    margin: 0 3rem 0 3rem; }

  /* line 236, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #menu {
    display: block; }

  /* line 238, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  aside {
    display: none; }

  /* line 240, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .title {
    display: none; }

  /* line 242, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  nav {
    display: none; }

  /* line 244, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .titletag {
    display: flex; }

  /* line 246, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .maintitle {
    display: none; }

  /* line 248, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #slidemenu {
    display: block; }

  /* line 250, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #desktop-menu {
    display: none; }

  /* line 252, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #menu:hover ~ .maincontent article {
    margin: 21rem 3rem 0 3rem; }

  /* line 254, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  #slidemenu:hover ~ .maincontent article {
    margin: 21rem 3rem 0 3rem; }
 }

@media (max-width: 700px) {
  /* line 258, C:/Users/Gentry/Documents/GitHub/Jade-With-polymer/assets/sass/main.sass */
  .maincontent article {
    margin: 0 1.8rem 0 1.8rem; }
 }
