doctype

html(lang="en")
	head
		title Jade practice
		meta( charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='author', content='Gentry Rolofson')
		link(href='assets/css/main.css', rel='stylesheet' type='text/css')
		link(href='assets/bower_components/polymer/polymer.html', rel='import')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800', rel='stylesheet', type='text/css')
	body
		div(class="wrapper")
			header
			
				nav
					ul
						li
							a(href="#") link
						li
							a(href="#") link
						li
							a(href="#") link
						li
							a(href="#") link
						li
							a(href="#") link
						li
							a(href="#") link
						li
							a(href="#") I am a New Link
			div(class="title")
				h1 WEB DESIGN
			aside
				div(class="logo")
					img(src='assets/images/logo.jpg')
				ul
					li
						a(href="#hello") hello
					li 
						a(href="#this") this
					li 
						a(href="#text") text 
					li 
						a(href="#is") is
					li 
						a(href="#test") a test

				//Dont Forget to put your footer here!!!
			section(class="maincontent")
				article(id="hello")
					h1 This is a title
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil impedit soluta, voluptatum velit magni quidem accusantium iusto error mollitia, aperiam optio quo eum ipsam dolorem non autem ad unde tempore.Aliquid expedita aspernatur excepturi autem tenetur! Sit deleniti quia repudiandae, nam amet temporibus doloribus cumque totam eaque eum sequi illum esse vitae incidunt libero ab! Nulla odio saepe eos quod!Nostrum expedita ea ad nihil saepe voluptatibus quisquam iusto nulla, nobis quasi provident excepturi quaerat. Et earum consequuntur dolor eius iusto vero nulla repudiandae consequatur ratione labore, perspiciatis sunt molestias.Corporis voluptatem eaque, quam ullam, ipsam earum temporibus veniam aspernatur voluptatum aliquam distinctio! Voluptates incidunt ipsa tempore laudantium voluptatum architecto impedit aliquid vero dolor laborum. Sint laboriosam eos voluptatum quasi.
				article(id="this")
					h1 This is a title
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil impedit soluta, voluptatum velit magni quidem accusantium iusto error mollitia, aperiam optio quo eum ipsam dolorem non autem ad unde tempore.Aliquid expedita aspernatur excepturi autem tenetur! Sit deleniti quia repudiandae, nam amet temporibus doloribus cumque totam eaque eum sequi illum esse vitae incidunt libero ab! Nulla odio saepe eos quod!Nostrum expedita ea ad nihil saepe voluptatibus quisquam iusto nulla, nobis quasi provident excepturi quaerat. Et earum consequuntur dolor eius iusto vero nulla repudiandae consequatur ratione labore, perspiciatis sunt molestias.Corporis voluptatem eaque, quam ullam, ipsam earum temporibus veniam aspernatur voluptatum aliquam distinctio! Voluptates incidunt ipsa tempore laudantium voluptatum architecto impedit aliquid vero dolor laborum. Sint laboriosam eos voluptatum quasi.
				article(id="text")
					h1 This is a title
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil impedit soluta, voluptatum velit magni quidem accusantium iusto error mollitia, aperiam optio quo eum ipsam dolorem non autem ad unde tempore.Aliquid expedita aspernatur excepturi autem tenetur! Sit deleniti quia repudiandae, nam amet temporibus doloribus cumque totam eaque eum sequi illum esse vitae incidunt libero ab! Nulla odio saepe eos quod!Nostrum expedita ea ad nihil saepe voluptatibus quisquam iusto nulla, nobis quasi provident excepturi quaerat. Et earum consequuntur dolor eius iusto vero nulla repudiandae consequatur ratione labore, perspiciatis sunt molestias.Corporis voluptatem eaque, quam ullam, ipsam earum temporibus veniam aspernatur voluptatum aliquam distinctio! Voluptates incidunt ipsa tempore laudantium voluptatum architecto impedit aliquid vero dolor laborum. Sint laboriosam eos voluptatum quasi.
				article(id="is")
					h1 This is a title
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil impedit soluta, voluptatum velit magni quidem accusantium iusto error mollitia, aperiam optio quo eum ipsam dolorem non autem ad unde tempore.Aliquid expedita aspernatur excepturi autem tenetur! Sit deleniti quia repudiandae, nam amet temporibus doloribus cumque totam eaque eum sequi illum esse vitae incidunt libero ab! Nulla odio saepe eos quod!Nostrum expedita ea ad nihil saepe voluptatibus quisquam iusto nulla, nobis quasi provident excepturi quaerat. Et earum consequuntur dolor eius iusto vero nulla repudiandae consequatur ratione labore, perspiciatis sunt molestias.Corporis voluptatem eaque, quam ullam, ipsam earum temporibus veniam aspernatur voluptatum aliquam distinctio! Voluptates incidunt ipsa tempore laudantium voluptatum architecto impedit aliquid vero dolor laborum. Sint laboriosam eos voluptatum quasi.
				article(id="test")
					h1 This is a title
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil impedit soluta, voluptatum velit magni quidem accusantium iusto error mollitia, aperiam optio quo eum ipsam dolorem non autem ad unde tempore.Aliquid expedita aspernatur excepturi autem tenetur! Sit deleniti quia repudiandae, nam amet temporibus doloribus cumque totam eaque eum sequi illum esse vitae incidunt libero ab! Nulla odio saepe eos quod!Nostrum expedita ea ad nihil saepe voluptatibus quisquam iusto nulla, nobis quasi provident excepturi quaerat. Et earum consequuntur dolor eius iusto vero nulla repudiandae consequatur ratione labore, perspiciatis sunt molestias.Corporis voluptatem eaque, quam ullam, ipsam earum temporibus veniam aspernatur voluptatum aliquam distinctio! Voluptates incidunt ipsa tempore laudantium voluptatum architecto impedit aliquid vero dolor laborum. Sint laboriosam eos voluptatum quasi.
				article
					h1 This is a title
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil impedit soluta, voluptatum velit magni quidem accusantium iusto error mollitia, aperiam optio quo eum ipsam dolorem non autem ad unde tempore.Aliquid expedita aspernatur excepturi autem tenetur! Sit deleniti quia repudiandae, nam amet temporibus doloribus cumque totam eaque eum sequi illum esse vitae incidunt libero ab! Nulla odio saepe eos quod!Nostrum expedita ea ad nihil saepe voluptatibus quisquam iusto nulla, nobis quasi provident excepturi quaerat. Et earum consequuntur dolor eius iusto vero nulla repudiandae consequatur ratione labore, perspiciatis sunt molestias.Corporis voluptatem eaque, quam ullam, ipsam earum temporibus veniam aspernatur voluptatum aliquam distinctio! Voluptates incidunt ipsa tempore laudantium voluptatum architecto impedit aliquid vero dolor laborum. Sint laboriosam eos voluptatum quasi.		

			footer
		script(src="assets/js/ripple.js")



